*.txt
*.bak
*~
*.pkl
*.pyc
*.zip
*.tsv
.#*#
*.db
printDensity.py
alphaData2.tsv
csCalculation.py
ensdf2
excitedData
nobleNeutron.py
dookTest.py
newPachucTestingFunct.py
testingStuff.py
optTest.py
dbExample.py
example.db
dbOpen.py
throwaway.py
.#*
*#*

data/
isonavScripts/*~
data1p4/
data1p4p3/
data1p4p4/
data*/

isonavScripts/*.cor
isonavScripts/binCor/*.cor
